docker==7.1.0
python-dotenv==1.2.2
python-on-whales==0.81.0
slack_sdk==3.43.0
# urllib3<2 # Todo: check https://github.com/docker/docker-py/issues/3113
pydantic!=2.0.0.dev,>=2.14.0a1,<3 # Todo: check https://github.com/gabrieldemarmiesse/python-on-whales/blob/master/requirements.txt